
/* font-family: 'Noto Sans KR'; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=block');

/* font-family: 'NanumSquare' */
/* font-weight : light 300, normal 400, bold 700, bolder 800 */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* font-family: 'NanumSquareRound' */
@font-face {font-family:'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight:normal; font-style:normal;}

/* font-family: 'yg-jalnan' */
@font-face {font-family:'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight:normal; font-style:normal; }

/* font-family: 'GmarketSansLight' */
@font-face {font-family:'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight:normal; font-style:normal;}

/* font-family: 'GmarketSansMedium' */
@font-face {font-family:'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight:normal; font-style:normal;}

/* font-family: 'GmarketSansBold' */
@font-face {font-family:'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight:normal; font-style:normal;}

/* 샌드박스 어그로체M 어그로체L, OTSBAggroM OTSBAggroL */
@font-face {font-family: 'SBAggroL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'SBAggroM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff'); font-weight: normal; font-style: normal;}

/* font-family:Pretendard */
/* font-weight : 100 ~ 900 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 배민 주아체 */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.evPageWrap {max-width:720px; margin:0 auto;}

/* 이벤트 컨텐츠 */
.evSection {font-size:4.44444vw;}
@media screen and (min-width: 720px) {
	.evSection {font-size:2em;}
}
/* // 이벤트 컨텐츠 */


/* 이벤트 하단 안내 영역 */
.evFooterAlert {font-size:4.4444vw; font-family:'NanumSquare';}
.evFooterAlert dl {padding:1.6875em 1.125em;}
.evFooterAlert dl dt {font-size:0.875em; line-height:1.5238em;}
.evFooterAlert dl dt strong {display:block; font-weight:bold;}	
.evFooterAlert dl dt + dd {margin-top:1em;}
.evFooterAlert dl dd {position:relative; padding-left:0.5em; line-height:1.47826em; font-size:0.75em;}
.evFooterAlert dl dd p.txt {}
.evFooterAlert dl dd p.txt::before {content:"·"; display:block; position:absolute; top:0; left:0; color:inherit; font-size:inherit; line-height:inherit; font-weight:bold;}
.evFooterAlert dl dd p.txt a {color:inherit;}
.evFooterAlert dl dd p.txt .em {color:#ff5b5b;}

.evFooterAlert.light {color:#545454;}
.evFooterAlert.light dl dd span.bul::before {background-color:#545454;}

/* 그레이 */
.evFooterAlert.gray {background-color:#ededed; color:#666;}
.evFooterAlert.gray dl dd span.bul::before {background-color:#999;}

/* 다크 */
.evFooterAlert.dark {background-color:#222;}
.evFooterAlert.dark dl dt {color:rgba(255,255,255,0.6);}
.evFooterAlert.dark dl dd {color:rgba(153,153,153,0.6);}
.evFooterAlert.dark dl dd span.bul::before {background-color:rgba(153,153,153,1);}

@media screen and (min-width: 720px) {
	.evFooterAlert {font-size:2em;}
}
/* // 이벤트 하단 안내 영역 */


/* 이벤트 페이지 약관보기 팝업 */
.evAgeeLayer {display:none; position:fixed; top:0; right:0; bottom:0; left:0; height:0; padding:0; overflow-y:auto; background-color:#fff; font-family:'Noto Sans KR';}
.evAgeeLayer.on {display:block; height:100%;}
.evAgeeLayer div.tit {box-sizing:content-box; position:sticky; top:0; height:50px; padding:0 1.125em; background-color:#fff; border-bottom:8px solid #f8f9fb; line-height:50px; font-weight:700;}
.evAgeeLayer div.con {padding:1.125em;}
.evAgeeLayer button.close {position:fixed; top:10px; right:10px; width:30px; height:30px; background-color:rgba(255,255,255,0.5); border-radius:100%; font-size:0;}
.evAgeeLayer button.close::before,
.evAgeeLayer button.close::after {content:""; display:block; position:absolute; top:50%;  width:20px; height:2px; background-color:#222; z-index:-1;}
.evAgeeLayer button.close::before {-webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
.evAgeeLayer button.close::after {-webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg)}
.evAgeeLayer .fBtnSticky {position:-webkit-sticky; position:sticky; bottom:0; left:0; width:100%;}
.evAgeeLayer .fBtnSticky button {height:3em; padding:0 1.125em; background-color:#333; color:#fff;}
/* // 이벤트 페이지 약관보기 팝업 */



/* layer.alert layer.confirm */
.layer {text-align:center; font-family:'Noto Sans KR';}
.layer .btn_group {display:flex; justify-content:space-between; border-top:0.5px solid #e7e7e7;}
.layer .btn_group div {width:100%;}
.layer .btn_group div button {height:3.75em;}
.layer .btn_group div button.next {color:#ff3a4a; font-weight:bold;}
.layer .btn_group div button.prev,
.layer .btn_group div button.back,
.layer .btn_group div button.cancel,
.layer .btn_group div button.close {color:#000;}
.layer .btn_group div button span {display:block; font-size:1.125em;}

.layer.alert .layer_inner,
.layer.confirm .layer_inner {
	min-width:280px; max-width:320px; width:80%;
	position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); background-color:#fff; border-radius:0.375em; color:inherit; z-index:1000; overflow-y:auto; box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.layer.alert .layer_inner .layer_content,
.layer.confirm .layer_inner .layer_content {
	padding:1.9375em 1.125em; color:#000;
}
.layer .layer_content div.pass_logo {text-align:center;}
.layer .layer_content div.pass_logo img {display:inline-block; width:74px; vertical-align:top;}
.layer .layer_content div.pass_logo + div.tit {margin-top:0.8125em;}

.layer .layer_content div.tit {color:#000; font-size:1em; line-height:1.5em; font-weight:400;}
.layer .layer_content div.tit + p.txt {margin-top:0.85714em;}
.layer .layer_content p.txt {color:#555; font-size:0.875em; line-height:1.57142em;}

.layer div.dim {position:fixed; top:0; right:0; bottom:0; left:0; height:100vh; background-color:rgba(0,0,0,0.5); z-index:10;}
/* // layer.alert layer.confirm */



