/* 공통 임시 */
.header_wrap {position:-webkit-sticky; position:sticky; top:0; left:0; width:100%; background-color:#fff; z-index:1;}
.header_wrap div.temp {display:flex; justify-content:center; align-items:center; position:relative; width:100%; height:48px; text-align:center;}
.header_wrap div.temp button {position:absolute; top:0; width:auto; padding:12px 0;}
.header_wrap div.temp button:first-of-type {left:18px;}
.header_wrap div.temp button:last-of-type {right:18px;}
.header_wrap div.temp button span {display:block; width:24px; height:24px;}
/* 공통 임시 */


.agreement_minor_wrap {}
.agreement_minor_wrap .txt_wrap {padding:30px 18px 12px;}
.agreement_minor_wrap .txt_wrap strong {display:block; color:#000; font-size:16px; line-height:26px; font-weight:bold; text-align:center;}
.agreement_minor_wrap .txt_wrap p {margin-top:8px; color:#888888; font-size:14px; line-height:20px; font-weight:400;}
.agreement_minor_wrap hr {display:block; width:100%; height:8px; border:0; background-color:#F8F9FB;}


/* 약관 동의 */
.agree_chk_wrap {}
.agree_chk_wrap label {display:flex; align-items:center; gap:6px;}
.agree_chk_wrap input {position:absolute; top:0; left:0; width:0; height:0; opacity:0;}

.agree_chk_wrap span.checkmark {display:inline-block; width:24px; height:24px;}
.agree_chk_wrap span.txt {display:block;}

.agree_chk_wrap div.chk_all {}
.agree_chk_wrap div.chk_all label {padding:18px;}
.agree_chk_wrap div.chk_all label span.txt {display:inline-block; font-size:16px; line-height:24px;}

.agree_chk_wrap div.chk_all label input + span.checkmark {background:url('../images/btn_check02_off.png') no-repeat left center / 24px 24px;}
.agree_chk_wrap div.chk_all label input:checked + span.checkmark {background-image: url('../images/btn_check02_on.png');}

.agree_chk_wrap ul {display:flex; flex-direction:column; gap:12px 0; width:100%; padding:17px 18px; background-color:#F8F9FB;}
.agree_chk_wrap ul li {display:flex; justify-content:space-between; align-items:flex-end;}
/*.agree_chk_wrap ul li label {position:relative;}*/
.agree_chk_wrap ul li button {width:auto;}
.agree_chk_wrap ul li label input + span.checkmark {background:url('../images/btn_check03_off.png') no-repeat left center / 24px 24px;}
.agree_chk_wrap ul li label input:checked + span.checkmark {background-image:url('../images/btn_check03_on.png')}
.agree_chk_wrap ul li span.txt {display:block; font-size:12px; line-height:18px;}
.agree_chk_wrap ul li button {width:24px; height:24px; background:url('../images/ico_arrow_list_small_right.png') no-repeat right center / 14px 14px; color:transparent; font-size:9px;}

.agree_chk_wrap div.txt {padding:20px 18px; font-size:12px; line-height:20px;}
.agree_chk_wrap div.txt button {display:inline; width:auto;}
.agree_chk_wrap div.txt button span {color:#FF3A4A; font-size:12px; font-weight:bold;}
/* // 약관 동의 */


/* 정보 입력 */
.agree_info_wrap {padding:0 18px; background-color:#fff;}
.agree_info_wrap button {width:auto;}
.agree_info_wrap div.info_list {display:flex; flex-direction:column; gap:24px 0; padding:24px 0 40px;}
.agree_info_wrap div.item {width:100%;}
.agree_info_wrap div.item label.tit {display:block; font-size:12px; line-height:18px;}
.agree_info_wrap div.item p.txt {margin-top:9px; color:#BBBBBB; font-size:12px; line-height:1.5em;}
.agree_info_wrap div.item div.timer {display:flex; align-items:center; gap:4px 0; margin-top:3px;}
.agree_info_wrap div.item div.timer span.ico {display:inline-block; width:16px; height:16px;}
.agree_info_wrap div.item div.timer span.txt {color:#FF3A4A; font-size:12px; line-height:18px; line-height:1em;}

.agree_info_wrap div.item input {border:0;}
.agree_info_wrap div.item input::placeholder {color:#BBBBBB;}
.agree_info_wrap div.item div.ipt_wrap {display:flex; justify-content:space-between; align-items:center; gap:10px; width:100%; margin-top:15px;}
.agree_info_wrap div.item div.ipt_wrap div.set_ipt {flex:1; height:32px;}
.agree_info_wrap div.item div.ipt_wrap div.set_ipt input {width:100%; height:32px; border:0 none; border-bottom:1px solid #ddd; background-color:transparent;}
.agree_info_wrap div.item div.ipt_wrap div.set_sel {width:120px; margin-right:10px;}
.agree_info_wrap div.item div.ipt_wrap div.set_sel select {width:100%; height:32px; border:0 none; border-bottom:1px solid #ddd; background-color:transparent; background:url('../images/btn_arrow_list_d.png') no-repeat right center / 18px 18px; font-size:14px; color:#222;}
.agree_info_wrap div.item div.ipt_wrap button {width:116px; height:36px; border-radius:6px; background-color:#222; color:#fff;}
.agree_info_wrap div.item div.ipt_wrap button span {display:block; font-size:14px; line-height:1em;}

.agree_info_wrap div.item div.ipt_wrap div.last_number {display:flex; align-items:center; gap:0 8px;}
.agree_info_wrap div.item div.ipt_wrap div.last_number input {min-width:12px; max-width:24px; border-radius:2px; text-align:center; line-height:30px; padding:0px;}
.agree_info_wrap div.item div.ipt_wrap div.last_number span.img {display:block; min-width:112px; line-height:1em;}
.agree_info_wrap div.item div.ipt_wrap div.last_number span.img img {display:block; width:112px; height:12px;}
/* // 정보 입력 */

.agreement_minor_wrap .btn {position:-webkit-sticky; position:sticky; bottom:0; left:0; width:100%;}
.agreement_minor_wrap .btn button {height:48px; background-color:#000; color:#fff;}
.agreement_minor_wrap .btn button:disabled {background-color:#D7D8D9 !important;}


/* 팝업 */
div.layer.alert div.dim {position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index: 1;}
div.layer.alert div.inner {position:fixed; top:50%; left:50%; width:284px; background-color:#fff; border-radius:6px; transform: translate(-50%, -50%); text-align:center; z-index: 1;}
div.layer.alert div.inner div.txt_wrap {padding:36px 18px; line-height:1.5em;}
div.layer.alert div.inner .btn_group {border-top:1px solid #E7E7E7;}
div.layer.alert div.inner .btn_group button {height:60px;}
div.layer.alert div.inner .btn_group button span {display:block; color:#000; font-size:18px;}


div.layer.full {position:fixed; top:0; right:0; bottom:0; left:0; width:100%; max-width:720px; height:100%; margin:0 auto; background-color:#fff; z-index:14;}
div.layer_full_header {position:-webkit-sticky; position:sticky; top:0; left:0; width:100%; border-bottom:8px solid #F8F9FB; background-color:#ffffff;}
div.layer_full_header div.temp {display:flex; justify-content:center; align-items:center; position:relative; width:100%; height:48px; text-align:center;}
div.layer_full_header div.temp h1 {font-size:14px; line-height:18px;}
div.layer_full_header div.temp button {position:absolute; top:0; width:auto; padding:12px 0;}
div.layer_full_header div.temp button.btn_close {right:18px;}
div.layer_full_header div.temp button span {display:block; width:24px; height:24px;}
div.layer_full_body {padding:18px; color:#666666; font-size:14px; line-height:20px;}

/* 외부 개발에서 추가 한것 */
div.layer.terms {position:fixed; top:0; right:0; bottom:0; left:0; width:100%; max-width:550px; height:100%; margin:0 auto; background-color:#fff; z-index:16;}
div.layer_terms_header {position:-webkit-sticky; position:sticky; top:0; left:0; width:100%; border-bottom:8px solid #F8F9FB;}
div.layer_terms_header div.temp {display:flex; justify-content:center; align-items:center; position:relative; width:100%; height:48px; text-align:center;}
div.layer_terms_header div.temp h1 {font-size:14px; line-height:18px;}
div.layer_terms_header div.temp button {position:absolute; top:0; width:auto; padding:12px 0;}
div.layer_terms_header div.temp button.btn_close {right:18px;}
div.layer_terms_header div.temp button span {display:block; width:24px; height:24px;}
div.layer_terms_pg_body {padding:18px; color:#666666; font-size:14px; line-height:20px; width:100%; height:500px;}
div.layer_terms_lg_body {padding:18px; color:#666666; font-size:14px; line-height:20px; width:100%; white-space:pre-wrap; overflow-y:auto;}
/* 팝업 */