.benefit_wrap {height:100%;}

.benefit_event_wrap {display:flex; flex-direction:column; width:100%; height:100%; margin-top:0; padding-bottom:20px;}
.benefit_event_con_wrap {flex:1; padding:0 18px; letter-spacing:-0.05em; overflow-y:auto;}
.benefit_event_tab_wrap {margin-bottom:20px; padding:20px 18px 0; border-bottom:1px solid #eee;}
.benefit_event_tab_wrap .tab {display:-webkit-flex; display:flex; width:100%; gap:18px;}
.benefit_event_tab_wrap .tab.aos {}
.benefit_event_tab_wrap .tab button {position:relative; width:auto; height:36px; border:0 none; line-height:1em; text-align:center;}
.benefit_event_tab_wrap .tab button span {display:inline-block; height:20px; color:#999999; font-size:0.875em; line-height:20px; font-weight:700; font-family:'Noto Sans KR';}
.benefit_event_tab_wrap .tab.aos button span {position:relative; top:-1px;}
.benefit_event_tab_wrap .tab button.active {}
.benefit_event_tab_wrap .tab button.active::before {content:""; display:block; position:absolute; bottom:0; left:0; width:100%; border-bottom:2px solid #000;}
.benefit_event_tab_wrap .tab button.active span {color:#000; font-weight:700;}
.benefit_event_wrap .card_list {display:flex; flex-direction:column; gap:12.6px 0; width:100%;}
.benefit_event_wrap .card_list .item + .item  {}
.benefit_event_wrap .card_list .item .card_bnr {position:relative; text-align:center; background-color:#f5f5f5; border-radius:10px; overflow:hidden; background-color:transparent; transition:all 0.2s ease;}
.benefit_event_wrap .card_list .item .card_bnr .img {position:relative; width:100%; /* max-width:375px; */ margin:0 auto;}
.benefit_event_wrap .card_list .item .card_bnr img {position:relative; max-width:100%; width:auto; height:auto; max-height:100%; border-radius:10px;
    animation: ani_img 0.4s 1 ease-in-out forwards;
}
@keyframes ani_img {
    0% {opacity:0;} 50% {opacity:0;} 100% {opacity:1;}
}

.ev_con {height:100%;}

.benefit_wrap .nodata_wrap {display:flex; justify-content:center; align-items:center; height:100%;}
.benefit_wrap .nodata {text-align:center;}
.benefit_wrap .nodata span.icon {display:inline-block; width:54px; height:54px;}
.benefit_wrap .nodata dl {margin-top:15px;}
.benefit_wrap .nodata dt strong {display:block; font-size:18px; line-height:26px;;}
.benefit_wrap .nodata dd {margin-top:8px;}
.benefit_wrap .nodata dd p {font-size:16px; line-height:22px;}

@media screen and (min-width: 664px) {
    .benefit_event_wrap .card_list {display:flex; flex-direction:row; justify-content:space-between; flex-wrap:wrap;}
    .benefit_event_wrap .card_list div.item {width:calc(50% - 4px);}
}