
:root {
	--security-color-green:#2CC67E;
	--security-color-purple:#9E68F0;
	--security-color-yellow:#FFC549;
	--security-color-red:#F6564A;
}

body {background-color:#f5f5f5; font-family:'Noto Sans KR';}

.passSecurity {display:flex; flex-direction:column; gap:40px 0; width:100%; max-width:720px; margin:0 auto; padding:24px 0 36px; font-family:'Noto Sans KR';}
.security_section_group {display:flex; flex-direction:column; gap:18px 0; width:100%; padding:0 18px;}
.security_section_group .security_txt_wrap {display:flex; flex-direction:column; gap:8px; width:100%;}
.security_section_group .security_txt_wrap div.tit {color:#000; font-size:18px; line-height:26px; font-weight:bold;}
.security_section_group .security_txt_wrap p.txt {color:#888; font-size:14px; line-height:22px; font-weight:400;}
.security_section_group .security_content {}
.security_section_group .security_content .security_white_box {display:flex; flex-direction:column; justify-content:center; gap:16px; width:100%; /* padding:14px; */ border-radius:12px; background-color:#fff;}

.btn_bottom_round {height:43px; border-radius:12px; border:1px solid #6250FF; background-color:#fff;}
.btn_bottom_round span.txt {display:block; color:#6250FF; font-size:14px; line-height:22px; font-weight:bold;}




.card_state_safe_wrap {display:flex; flex-direction:column; justify-content:center; width:100%; min-height:130px;}
.card_state_safe_wrap .inner {display:flex; flex-direction:column; justify-content:center; width:100%; gap:20px; min-height:130px; padding:14px;}
.label_txt_state_wrap {display: flex; flex-direction: column; gap:6px; width:100%;}
.label_txt_state_wrap p.txt {padding:0; color:#000; font-size:16px; line-height:22px; font-weight:bold; letter-spacing:0;}
.label_state_wrap {display:flex; justify-content:space-between; align-items:flex-start; width:100%; height:22px;}
.label_state_wrap span.label_state {display:inline-flex; padding:4px 5px 5px; border-radius:6px; font-size:13px; line-height:1; font-weight:bold;}
.label_state_wrap span.label_state.green {color:#2CC67E; background-color:#D3F8E7;}
.label_state_wrap span.label_state.purple {color:#9E68F0; background-color:#F0E6FF;}
.label_state_wrap span.label_state.yellow {color:#D08F5A; background-color:#FFF3DA;}
.label_state_wrap span.label_state.red {color:#F6564A; background-color:#FFE2E0;}
.label_state_wrap button.btn_refresh {width:22px; height:22px;}




.bar_state_wrap {display:flex; justify-content:space-between; width:100%; gap:2px;}
.bar_state_wrap .bar_state {display:flex; flex-direction:column; gap:4px; width:100%; border-color:#ff6600;}
.bar_state_wrap .bar_state.green {border-color:var(--security-color-green);}
.bar_state_wrap .bar_state.purple {border-color:var(--security-color-purple);}
.bar_state_wrap .bar_state.yellow {border-color:var(--security-color-yellow);}
.bar_state_wrap .bar_state.red {border-color:var(--security-color-red);}
.bar_state_wrap .bar_state div.bar {position:relative; height:12px; border-color:inherit; opacity:0.3; }
.bar_state_wrap .bar_state div.bar::before,
.bar_state_wrap .bar_state div.bar::after {display:block;}
.bar_state_wrap .bar_state div.bar::before {content:""; position:absolute; top:50%; left:0; width:100%; border:2px solid #000; border-color:inherit; transform:translateY(-50%);}
.bar_state_wrap .bar_state div.bar::after {position:absolute; top:50%; left:50%; width:12px; height:12px; border-radius:100%; border:3px solid #000; background-color:#fff; transform:translate(-50%,-50%); border-color:inherit;}
.bar_state_wrap .bar_state span.txt {display:block; padding:1px 0; color:#999; font-size:12px; line-height:16px; text-align:center;}

.bar_state_wrap .bar_state:first-of-type div.bar::before {border-radius:2px 0 0 2px;}
.bar_state_wrap .bar_state:last-of-type div.bar:before {border-radius:0 2px 2px 0;}

.bar_state_wrap .bar_state.active div.bar {opacity:1;}
.bar_state_wrap .bar_state.active span.txt {color:#000; font-weight:bold;}
.bar_state_wrap .bar_state.active div.bar::after {content:"";}
.bar_state_wrap .bar_state.green.active div.bar::after {box-shadow:0 0 6px rgba(44, 198, 126, 0.4);}
.bar_state_wrap .bar_state.purple.active div.bar::after {box-shadow:0 0 6px rgba(158, 104, 240, 0.4);}
.bar_state_wrap .bar_state.yellow.active div.bar::after {box-shadow:0 0 6px rgba(255, 197, 73, 0.4);}
.bar_state_wrap .bar_state.red.active div.bar::after {box-shadow:0 0 6px rgba(246, 86, 74, 0.4);}



/* 로딩, 에러 */
.security_state-container {display:flex; flex-direction:column; justify-content:center; align-items:center; gap:16px;}
.security_state-container p.txt {color:#555; font-size:14px; line-height:22px; text-align:center;}
.security_state-container span.icon {display:inline-block; width:50px; height:50px; line-height:1;}
.security_state-container.is-loading {}
.security_state-container.is-loading span.icon {width:30px; height:30px; animation: spin 0.9s steps(9) infinite;}
.security_state-container.is-error {}
.security_state-container.is-error span.icon {width:42px; height:42px;}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* // 로딩, 에러 */


/* 내 통신 정보 변경 현황 */
.card_log_changed_wrap {display:flex; flex-direction:column; justify-content:center; min-height:192px; padding:14px; gap:16px;}
.card_log_changed_history {display:flex; justify-content:space-between; align-items:center;}
.card_log_changed_history div.item {display:flex; flex-direction:column; align-items:center; gap:10px; width:100%;}
.card_log_changed_history div.item + div.item {border-left:1px solid #F5F5F5;}
.card_log_changed_history div.item span.icon {width:60px; height:60px;}
.card_log_changed_history div.item div.txt_wrap {text-align:center;}
.card_log_changed_history div.item div.txt_wrap p.txt {color:#000; font-size:14px; line-height:22px;}
.card_log_changed_history div.item div.txt_wrap div.count_wrap {display:flex; justify-content:center; align-items:baseline;}
.card_log_changed_history div.item div.txt_wrap div.count_wrap strong.count {color:#999; font-size:20px; line-height:26px;}
.card_log_changed_history div.item div.txt_wrap div.count_wrap strong.count.active {color:#6250FF;}
.card_log_changed_history div.item div.txt_wrap div.count_wrap span.txt {color:#999; font-size:14px; line-height:26px;}
.card_log_changed_history div.item div.last_changed {display:inline-flex; justify-content:center; align-items:center; gap:6px; padding:3px 8px; border-radius:6px; background-color:#F8F8F8; font-size:11px; line-height:16px;;}
.card_log_changed_history div.item div.last_changed span.txt {color:#999;}
.card_log_changed_history div.item div.last_changed span.date {color:#454545;}
/* // 내 통신 정보 변경 현황 */


/* 내 명의로 된 U+ 회선을 모아봤어요 */
.list_digit_wrap {display:flex; flex-direction:column; gap:16px; padding:14px;}
.list_digit_wrap .list_digit {}
.list_digit_wrap .list_digit .item {display:flex; justify-content:space-between; align-items:center; gap:12px; padding:7px 0 6px;}
.list_digit_wrap .list_digit .item + .item {border-top:1px solid #f5f5f5}
.list_digit_wrap .list_digit .item:first-of-type {padding-top:0;}
.list_digit_wrap .list_digit .item .icon {width:34px; height:34px;}
.list_digit_wrap .list_digit .item .number {flex:1; color:#000; font-size:14px; line-height:22px;}
.list_digit_wrap .list_digit .item .date {color:#999; font-size:12px; line-height:16px;}
/* // 내 명의로 된 U+ 회선을 모아봤어요 */


/* 거래 전 미리 체크해요 */
.security_form_input_wrap {display:flex; flex-direction:column; gap:16px; padding:14px;}
.security_form_input_wrap p.txt {color:#000; font-size:14px; line-height:22px; font-weight:bold;}
.security_form_input_wrap .security_search {display:flex; justify-content:space-between; gap:6px; padding:8px 12px; border-radius:8px; border:1px solid #E7E7E7; background-color:#fff;}
.security_form_input_wrap .security_search:focus-within {border-color:#000}
.security_form_input_wrap .security_search input {color:#000; border:0; font-size:14px;}
.security_form_input_wrap .security_search input::placeholder {color:#999; font-size:inherit; line-height:inherit;}
.security_form_input_wrap .security_search button.btn_search {width:24px; height:24px; filter: grayscale(1);}
.security_form_input_wrap .security_search.active {border-color:#000}
.security_form_input_wrap .security_search.active button.btn_search {filter: grayscale(0);}
/* // 거래 전 미리 체크해요 */


/* 지금 가장 위험한 피싱 수법 */
.hotfishing_wrap {display:flex; flex-direction:column; gap:16px; padding:14px;}
.hotfishing_wrap .list_article {}
.hotfishing_wrap .list_article .item {display:flex; justify-content:space-between; align-items:center; gap:12px; padding:11px 0 10px;}
.hotfishing_wrap .list_article .item + .item {border-top:1px solid #f5f5f5;}
.hotfishing_wrap .list_article .item:first-of-type {padding-top:0;}
.hotfishing_wrap .list_article .item p.tit {width:81.849315%; color:#000000; font-size:14px; line-height:22px;}
.hotfishing_wrap .list_article .item div.date {color:#999; font-size:12px; line-height:17px;}
/* // 지금 가장 위험한 피싱 수법 */


/* 변경 이력 팝업 */
div.dim {position:fixed; top:0; right:0; bottom:0; left:0; background-color:rgba(0,0,0,0.7);}
div.card_log_changed_layer {position:fixed; top:50%; left:50%; width:324px; height:380px; border-radius:12px; background-color:#fff; transform: translate(round(to-zero, -50%, 1px) , round(to-zero, -50%, 1px)); z-index:10;}
div.card_log_changed_layer .inner .layer_header {padding:0 18px;}
div.card_log_changed_layer .inner .layer_header div.title {display:flex; align-items:center; width:100%; height:70px; color:#000; font-size:16px; line-height:24px; font-weight:bold;}
div.card_log_changed_layer .btn_close {position:absolute; top:18px; right:18px; width:24px; height:24px;}
div.card_log_changed_layer div.tit_wrap {padding:0 18px;}
div.card_log_changed_layer div.layer_body {display:flex; flex-direction:column; gap:12px; width:100%; padding:0 18px;}
div.card_log_changed_layer div.layer_body div.tab {display:flex; justify-content:space-between; align-items:center; height:40px; padding:4px; border-radius:12px; background-color:#ddd;}
div.card_log_changed_layer div.layer_body div.tab button.btn_tab {height:32px; border-radius:10px;}
div.card_log_changed_layer div.layer_body div.tab button.btn_tab span.txt {display:block; color:#000; font-size:12px; line-height:1; text-align:center;}
div.card_log_changed_layer div.layer_body div.tab button.active {background-color:#fff;}
div.card_log_changed_layer div.layer_body div.tab button.active span.txt {font-weight:bold;}
div.card_log_changed_layer div.layer_body p.history_count {width:100%; color:#333; font-size:14px; line-height:22px; font-weight:400; text-align:center;}
div.card_log_changed_layer div.layer_body p.history_count span.count {color:#6250FF; font-weight:bold;}
div.card_log_changed_layer div.history_list_wrap {position:relative; height:204px;}
div.card_log_changed_layer div.history_list_wrap div.list_wrap {height:204px; overflow-y:auto;}
div.card_log_changed_layer div.history_list_wrap div.list_wrap::-webkit-scrollbar {display: none; /* Chrome, Safari, 최신 Edge */}
div.card_log_changed_layer div.history_list_wrap div.list_wrap ul.list {display:flex; flex-direction:column; gap:6px; width:100%;}
div.card_log_changed_layer div.history_list_wrap div.list_wrap ul.list li.item {display:flex; justify-content:center; align-items:center; width:100%; padding:8px 0 9px; border:1px solid #f5f5f5; border-radius:12px;}
div.card_log_changed_layer div.history_list_wrap div.list_wrap ul.list li.item span {display:block; font-size:14px; line-height:22px;}
div.card_log_changed_layer div.history_list_wrap p.nodata {position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); width:100%; max-width:264px; color:#999; font-size:14px; line-height:22px; text-align:center;}
/* // 변경 이력 팝업 */